
<form [formGroup]="teacherForm!">
    <mat-form-field appearance="outline">
        <mat-label for="name">Name</mat-label>
        <input placeholder="Name..." id="name" type="text" formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="description">Description</mat-label>
        <textarea  placeholder="Description..." id="description" type="text" formControlName="description" matInput></textarea>
      </mat-form-field>
      <button type="submit" mat-button>Submit</button>
</form>